<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/navbar.css">
</head>
<body>
    <div class="main">
        <div class="urlbar">
            <div class="url-text"></div>
        </div>
        <div class="tip">
            <svg width="24" height="24" version="1.1" viewBox="0 0 70 70" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">  <g transform="translate(0 -1052.5)" fill="none" stroke="#494949">  <circle cx="35" cy="1087.5" r="32.5" stroke-width="5"/>  <g stroke-width="2.5">   <path d="m17.5 1087.5h35"/>   <path d="m17.5 1077.5h35"/>   <path d="m17.5 1097.5h35"/>  </g> </g></svg>
            <span>Menu</span>
        </div>
    </div>
</body>
</html>