body {
    margin: 0;
    overflow: hidden;
}

.urlbar {
    border: 1px solid #282828;
    border-radius: 16px;
    margin: 0 4px;
    padding: 0 8px;
    flex-grow: 1;
    min-width: 0;
    height: 24px;
}

.url-text {
    color: #494949;
    transform: translateY(3px);
    font-size: 16px;
    font-family: sans-serif;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 32px;
    border-bottom: 1px solid #282828;
    background-color: #0e0e0e;
    box-sizing: border-box;
}

.tip {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding: 4px;
    user-select: none;
}
.tip:hover {
    background-color: #282828;
}
.tip>span {
    margin-left: 2px;
    color: #494949;
    font-family: sans-serif;
}
#drag {
    app-region: drag;
}

#webview {
    height: calc(100vh - 32px);
    width: 100%;
    display:flex;
}
